.slider {
  padding-top: 114px;
}

.swiper__item-img {
  width: 50%;
}

.swiper__item-wrap {
  display: flex;
}

.swiper__item-info {
  width: 50%;
  background-color: #5c3249;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper__item-img img {
  width: 100%;
  height: 100%;
}

.swiper__item-desc {
  font-size: 36px;
  width: 471px;
  font-family: "Cardo";
  font-weight: 400;
}

.swiper__item-subtitle {
  font-size: 13px;
  font-family: "Releway";
  font-weight: 700;
}

.swiper-wrap {
  display: flex;
}

.swiper__item {
  display: flex;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #5c3249;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-wrapper {
  padding-bottom: 50px;
}
